openapi: 3.0.1
info:
  title: OpenAI Code Interpreter API
  description: |
    API specification for OpenAI's Code Interpreter tool integration used in LibreChat.
    The Code Interpreter allows assistants to write and run Python code in a sandboxed environment,
    process files, and generate data visualizations.
  version: '1.0'
  contact:
    name: LibreChat
    url: https://github.com/ctorrao/LibreChat
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.openai.com/v1
    description: OpenAI Production API

paths:
  /assistants:
    post:
      operationId: createAssistant
      summary: Create an assistant with code interpreter
      description: Creates a new assistant that can use the code_interpreter tool
      tags:
        - Assistants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantCreateRequest'
            examples:
              withCodeInterpreter:
                summary: Assistant with Code Interpreter
                value:
                  model: gpt-4-turbo-preview
                  name: Python Code Assistant
                  description: An assistant that can execute Python code
                  instructions: You are a helpful assistant that can write and execute Python code.
                  tools:
                    - type: code_interpreter
                  tool_resources:
                    code_interpreter:
                      file_ids:
                        - file-abc123
      responses:
        '200':
          description: Assistant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /assistants/{assistant_id}:
    post:
      operationId: updateAssistant
      summary: Update an assistant
      description: Updates an existing assistant's configuration including tools
      tags:
        - Assistants
      parameters:
        - name: assistant_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the assistant to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssistantUpdateRequest'
      responses:
        '200':
          description: Assistant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assistant'

  /threads:
    post:
      operationId: createThread
      summary: Create a thread
      description: Creates a thread for conversation with an assistant
      tags:
        - Threads
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadCreateRequest'
      responses:
        '200':
          description: Thread created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'

  /threads/{thread_id}/messages:
    post:
      operationId: createMessage
      summary: Create a message
      description: Creates a message in a thread
      tags:
        - Messages
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the thread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
      responses:
        '200':
          description: Message created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

  /threads/{thread_id}/runs:
    post:
      operationId: createRun
      summary: Create a run
      description: Creates a run to execute an assistant on a thread
      tags:
        - Runs
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the thread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCreateRequest'
      responses:
        '200':
          description: Run created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'

  /threads/{thread_id}/runs/{run_id}/steps:
    get:
      operationId: listRunSteps
      summary: List run steps
      description: Retrieves the steps from a run, including code interpreter executions
      tags:
        - Runs
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the thread
        - name: run_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the run
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Number of steps to return
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order by created_at timestamp
      responses:
        '200':
          description: List of run steps retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStepList'

components:
  schemas:
    AssistantCreateRequest:
      type: object
      required:
        - model
      properties:
        model:
          type: string
          description: ID of the model to use
          example: gpt-4-turbo-preview
        name:
          type: string
          description: The name of the assistant
          maxLength: 256
        description:
          type: string
          description: The description of the assistant
          maxLength: 512
        instructions:
          type: string
          description: The system instructions for the assistant
          maxLength: 32768
        tools:
          type: array
          description: List of tools enabled for the assistant
          maxItems: 128
          items:
            $ref: '#/components/schemas/Tool'
        tool_resources:
          $ref: '#/components/schemas/ToolResources'
        metadata:
          type: object
          description: Set of key-value pairs for storing additional data
          additionalProperties:
            type: string

    AssistantUpdateRequest:
      type: object
      properties:
        model:
          type: string
          description: ID of the model to use
        name:
          type: string
          description: The name of the assistant
          maxLength: 256
        description:
          type: string
          description: The description of the assistant
          maxLength: 512
        instructions:
          type: string
          description: The system instructions for the assistant
          maxLength: 32768
        tools:
          type: array
          description: List of tools enabled for the assistant
          maxItems: 128
          items:
            $ref: '#/components/schemas/Tool'
        tool_resources:
          $ref: '#/components/schemas/ToolResources'
        metadata:
          type: object
          additionalProperties:
            type: string

    Assistant:
      type: object
      required:
        - id
        - object
        - created_at
        - model
      properties:
        id:
          type: string
          description: The identifier of the assistant
        object:
          type: string
          enum: [assistant]
          description: The object type, which is always 'assistant'
        created_at:
          type: integer
          description: Unix timestamp (in seconds) when the assistant was created
        name:
          type: string
          nullable: true
          description: The name of the assistant
        description:
          type: string
          nullable: true
          description: The description of the assistant
        model:
          type: string
          description: ID of the model being used
        instructions:
          type: string
          nullable: true
          description: The system instructions for the assistant
        tools:
          type: array
          description: List of tools enabled for the assistant
          items:
            $ref: '#/components/schemas/Tool'
        tool_resources:
          $ref: '#/components/schemas/ToolResources'
        metadata:
          type: object
          description: Set of key-value pairs for storing additional data
          additionalProperties:
            type: string

    Tool:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [code_interpreter, retrieval, function]
          description: The type of tool
      oneOf:
        - $ref: '#/components/schemas/CodeInterpreterTool'
        - $ref: '#/components/schemas/RetrievalTool'
        - $ref: '#/components/schemas/FunctionTool'

    CodeInterpreterTool:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [code_interpreter]
          description: The type is always 'code_interpreter'
      example:
        type: code_interpreter

    RetrievalTool:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [retrieval]
          description: The type is always 'retrieval'

    FunctionTool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum: [function]
          description: The type is always 'function'
        function:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: The name of the function
            description:
              type: string
              description: A description of what the function does
            parameters:
              type: object
              description: The parameters the function accepts, as a JSON Schema object

    ToolResources:
      type: object
      properties:
        code_interpreter:
          $ref: '#/components/schemas/CodeInterpreterResources'
        file_search:
          $ref: '#/components/schemas/FileSearchResources'

    CodeInterpreterResources:
      type: object
      properties:
        file_ids:
          type: array
          description: |
            A list of file IDs made available to the code_interpreter tool.
            Maximum of 20 files can be associated.
          maxItems: 20
          items:
            type: string
          example:
            - file-abc123
            - file-xyz789

    FileSearchResources:
      type: object
      properties:
        vector_store_ids:
          type: array
          description: The vector store IDs attached to this assistant
          maxItems: 1
          items:
            type: string

    ThreadCreateRequest:
      type: object
      properties:
        messages:
          type: array
          description: A list of messages to start the thread with
          items:
            $ref: '#/components/schemas/MessageCreateRequest'
        metadata:
          type: object
          description: Set of key-value pairs for storing additional data
          additionalProperties:
            type: string

    Thread:
      type: object
      required:
        - id
        - object
        - created_at
      properties:
        id:
          type: string
          description: The identifier of the thread
        object:
          type: string
          enum: [thread]
          description: The object type, which is always 'thread'
        created_at:
          type: integer
          description: Unix timestamp (in seconds) when the thread was created
        metadata:
          type: object
          additionalProperties:
            type: string

    MessageCreateRequest:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum: [user, assistant]
          description: The role of the entity creating the message
        content:
          type: string
          description: The text content of the message
        file_ids:
          type: array
          description: A list of File IDs that the message should use
          maxItems: 10
          items:
            type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    Message:
      type: object
      required:
        - id
        - object
        - created_at
        - thread_id
        - role
        - content
      properties:
        id:
          type: string
          description: The identifier of the message
        object:
          type: string
          enum: [thread.message]
          description: The object type
        created_at:
          type: integer
          description: Unix timestamp when the message was created
        thread_id:
          type: string
          description: The thread ID that this message belongs to
        role:
          type: string
          enum: [user, assistant]
          description: The role of the entity that created the message
        content:
          type: array
          description: The content of the message
          items:
            $ref: '#/components/schemas/MessageContent'
        assistant_id:
          type: string
          nullable: true
          description: If applicable, the ID of the assistant that authored this message
        run_id:
          type: string
          nullable: true
          description: If applicable, the ID of the run associated with the authoring of this message
        file_ids:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    MessageContent:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [text, image_file]
          description: The type of content
      oneOf:
        - $ref: '#/components/schemas/MessageContentText'
        - $ref: '#/components/schemas/MessageContentImageFile'

    MessageContentText:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum: [text]
        text:
          type: object
          required:
            - value
          properties:
            value:
              type: string
              description: The text content
            annotations:
              type: array
              description: Annotations for the text content
              items:
                $ref: '#/components/schemas/Annotation'

    MessageContentImageFile:
      type: object
      required:
        - type
        - image_file
      properties:
        type:
          type: string
          enum: [image_file]
        image_file:
          type: object
          required:
            - file_id
          properties:
            file_id:
              type: string
              description: The File ID of the image

    Annotation:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [file_citation, file_path]
          description: The type of annotation
      oneOf:
        - $ref: '#/components/schemas/FileCitationAnnotation'
        - $ref: '#/components/schemas/FilePathAnnotation'

    FileCitationAnnotation:
      type: object
      required:
        - type
        - text
        - file_citation
        - start_index
        - end_index
      properties:
        type:
          type: string
          enum: [file_citation]
        text:
          type: string
          description: The text in the message content that needs to be replaced
        file_citation:
          type: object
          required:
            - file_id
          properties:
            file_id:
              type: string
              description: The ID of the specific File the citation is from
            quote:
              type: string
              description: The specific quote in the file
        start_index:
          type: integer
        end_index:
          type: integer

    FilePathAnnotation:
      type: object
      required:
        - type
        - text
        - file_path
        - start_index
        - end_index
      properties:
        type:
          type: string
          enum: [file_path]
        text:
          type: string
          description: The text in the message content that needs to be replaced
        file_path:
          type: object
          required:
            - file_id
          properties:
            file_id:
              type: string
              description: The ID of the file that was generated
        start_index:
          type: integer
        end_index:
          type: integer

    RunCreateRequest:
      type: object
      required:
        - assistant_id
      properties:
        assistant_id:
          type: string
          description: The ID of the assistant to use for this run
        model:
          type: string
          description: Override the default model of the assistant
        instructions:
          type: string
          description: Override the default instructions of the assistant
        additional_instructions:
          type: string
          description: Append additional instructions at the end of the instructions for the run
        tools:
          type: array
          description: Override the tools the assistant should use for this run
          maxItems: 20
          items:
            $ref: '#/components/schemas/Tool'
        metadata:
          type: object
          additionalProperties:
            type: string

    Run:
      type: object
      required:
        - id
        - object
        - created_at
        - thread_id
        - assistant_id
        - status
        - model
        - instructions
        - tools
      properties:
        id:
          type: string
          description: The identifier of the run
        object:
          type: string
          enum: [thread.run]
          description: The object type
        created_at:
          type: integer
          description: Unix timestamp when the run was created
        thread_id:
          type: string
          description: The ID of the thread that was executed on
        assistant_id:
          type: string
          description: The ID of the assistant used for execution
        status:
          type: string
          enum: [queued, in_progress, requires_action, cancelling, cancelled, failed, completed, expired]
          description: The status of the run
        required_action:
          nullable: true
          $ref: '#/components/schemas/RequiredAction'
        last_error:
          nullable: true
          type: object
          properties:
            code:
              type: string
              enum: [server_error, rate_limit_exceeded]
            message:
              type: string
        expires_at:
          type: integer
          description: Unix timestamp when the run expires
        started_at:
          type: integer
          nullable: true
          description: Unix timestamp when the run was started
        cancelled_at:
          type: integer
          nullable: true
          description: Unix timestamp when the run was cancelled
        failed_at:
          type: integer
          nullable: true
          description: Unix timestamp when the run failed
        completed_at:
          type: integer
          nullable: true
          description: Unix timestamp when the run completed
        model:
          type: string
          description: The model used for the run
        instructions:
          type: string
          description: The instructions used for this run
        tools:
          type: array
          description: The list of tools used in this run
          items:
            $ref: '#/components/schemas/Tool'
        file_ids:
          type: array
          items:
            type: string
        metadata:
          type: object
          additionalProperties:
            type: string

    RequiredAction:
      type: object
      required:
        - type
        - submit_tool_outputs
      properties:
        type:
          type: string
          enum: [submit_tool_outputs]
        submit_tool_outputs:
          type: object
          required:
            - tool_calls
          properties:
            tool_calls:
              type: array
              items:
                $ref: '#/components/schemas/ToolCall'

    ToolCall:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: The ID of the tool call
        type:
          type: string
          enum: [function]
        function:
          type: object
          required:
            - name
            - arguments
          properties:
            name:
              type: string
              description: The name of the function
            arguments:
              type: string
              description: The arguments passed to the function as a JSON string

    RunStepList:
      type: object
      required:
        - object
        - data
      properties:
        object:
          type: string
          enum: [list]
          description: The object type
        data:
          type: array
          description: The list of run steps
          items:
            $ref: '#/components/schemas/RunStep'
        first_id:
          type: string
          description: The ID of the first step in the list
        last_id:
          type: string
          description: The ID of the last step in the list
        has_more:
          type: boolean
          description: Whether there are more steps available

    RunStep:
      type: object
      required:
        - id
        - object
        - created_at
        - assistant_id
        - thread_id
        - run_id
        - type
        - status
        - step_details
      properties:
        id:
          type: string
          description: The identifier of the run step
        object:
          type: string
          enum: [thread.run.step]
          description: The object type
        created_at:
          type: integer
          description: Unix timestamp when the run step was created
        assistant_id:
          type: string
          description: The ID of the assistant associated with the run step
        thread_id:
          type: string
          description: The ID of the thread that was run
        run_id:
          type: string
          description: The ID of the run that this step is part of
        type:
          type: string
          enum: [message_creation, tool_calls]
          description: The type of run step
        status:
          type: string
          enum: [in_progress, cancelled, failed, completed, expired]
          description: The status of the run step
        step_details:
          oneOf:
            - $ref: '#/components/schemas/MessageCreationStepDetails'
            - $ref: '#/components/schemas/ToolCallsStepDetails'
        last_error:
          nullable: true
          type: object
          properties:
            code:
              type: string
              enum: [server_error, rate_limit_exceeded]
            message:
              type: string
        expired_at:
          type: integer
          nullable: true
        cancelled_at:
          type: integer
          nullable: true
        failed_at:
          type: integer
          nullable: true
        completed_at:
          type: integer
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: string

    MessageCreationStepDetails:
      type: object
      required:
        - type
        - message_creation
      properties:
        type:
          type: string
          enum: [message_creation]
        message_creation:
          type: object
          required:
            - message_id
          properties:
            message_id:
              type: string
              description: The ID of the message that was created

    ToolCallsStepDetails:
      type: object
      required:
        - type
        - tool_calls
      properties:
        type:
          type: string
          enum: [tool_calls]
        tool_calls:
          type: array
          description: |
            An array of tool calls the run step was involved in.
            Can include code_interpreter, retrieval, or function tool calls.
          items:
            oneOf:
              - $ref: '#/components/schemas/CodeInterpreterToolCall'
              - $ref: '#/components/schemas/RetrievalToolCall'
              - $ref: '#/components/schemas/FunctionToolCall'

    CodeInterpreterToolCall:
      type: object
      required:
        - id
        - type
        - code_interpreter
      properties:
        id:
          type: string
          description: The ID of the tool call
        type:
          type: string
          enum: [code_interpreter]
          description: The type is always 'code_interpreter'
        code_interpreter:
          type: object
          required:
            - input
            - outputs
          properties:
            input:
              type: string
              description: The input Python code that was executed
              example: |
                import matplotlib.pyplot as plt
                import numpy as np
                
                x = np.linspace(0, 10, 100)
                y = np.sin(x)
                
                plt.plot(x, y)
                plt.xlabel('x')
                plt.ylabel('sin(x)')
                plt.title('Sine Wave')
                plt.savefig('sine_wave.png')
                print('Plot saved!')
            outputs:
              type: array
              description: The outputs from the Code Interpreter tool call
              items:
                oneOf:
                  - $ref: '#/components/schemas/CodeInterpreterLogOutput'
                  - $ref: '#/components/schemas/CodeInterpreterImageOutput'
      example:
        id: call_abc123
        type: code_interpreter
        code_interpreter:
          input: |
            import numpy as np
            result = np.mean([1, 2, 3, 4, 5])
            print(f'The mean is: {result}')
          outputs:
            - type: logs
              logs: 'The mean is: 3.0'

    CodeInterpreterLogOutput:
      type: object
      required:
        - type
        - logs
      properties:
        type:
          type: string
          enum: [logs]
          description: The type is always 'logs'
        logs:
          type: string
          description: The text output from the Code Interpreter tool call
          example: 'The mean is: 3.0'

    CodeInterpreterImageOutput:
      type: object
      required:
        - type
        - image
      properties:
        type:
          type: string
          enum: [image]
          description: The type is always 'image'
        image:
          type: object
          required:
            - file_id
          properties:
            file_id:
              type: string
              description: The file ID of the image generated by the code interpreter
              example: file-abc123xyz789

    RetrievalToolCall:
      type: object
      required:
        - id
        - type
        - retrieval
      properties:
        id:
          type: string
          description: The ID of the tool call
        type:
          type: string
          enum: [retrieval]
          description: The type is always 'retrieval'
        retrieval:
          type: object
          description: For now, this is always an empty object

    FunctionToolCall:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
          description: The ID of the tool call
        type:
          type: string
          enum: [function]
          description: The type is always 'function'
        function:
          type: object
          required:
            - name
            - arguments
            - output
          properties:
            name:
              type: string
              description: The name of the function
            arguments:
              type: string
              description: The arguments passed to the function
            output:
              type: string
              nullable: true
              description: The output of the function, null if the outputs have not been submitted yet

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
          properties:
            message:
              type: string
              description: A human-readable error message
            type:
              type: string
              description: The type of error
            param:
              type: string
              nullable: true
              description: The parameter that caused the error
            code:
              type: string
              nullable: true
              description: An error code identifying the error type

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OpenAI API key authentication

security:
  - BearerAuth: []

tags:
  - name: Assistants
    description: Operations for managing AI assistants
  - name: Threads
    description: Operations for managing conversation threads
  - name: Messages
    description: Operations for managing messages within threads
  - name: Runs
    description: Operations for executing assistants and retrieving run details
